#indicator {
    position: absolute;
    top: 0px;
    left: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.indicator-container {
    width: 100%;
    display: flex;
}

.indicator-container div {
    background-color: white;
    width:10px;
    height:10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.indicator-container > div.active {
    transform: scale(1.6);
}

.indicator-text {
    opacity: 1.0;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding-top: 5px;

    transition: opacity .4s;
}

.hidden {
    opacity: 0.0;
}

@media screen and (max-width: 800px) {
    #indicator {
        display: none;
    }
}