@media screen and (max-width: 1000px) {
    #about .text {
        width: 40%;
        font-size: 1.2rem;
    }

    #about .logo {
        width: 300px;
    }
}

@media screen and (max-width: 635px) {
    #landing .title {
        font-size: 6rem;
    }

    #landing .subtitle {
        font-size: 2rem;
    }

    #skills .container .row .item {
        width: 20%;
    }

    #skills .title {
        font-size: 2rem;
    }

    #connect .title {
        font-size: 2rem;
    }

    #about .title {
        font-size: 2rem;
    }

    #about .text {
        width: 45%;
        font-size: 1rem;
    }

    #about .logo {
        width: 225px;
    }
}

@media screen and (max-width: 575px) {
    #landing .title {
        font-size: 5rem;
    }

    #landing .subtitle {
        font-size: 1.5rem;
    }

    #skills .container .row .item img {
        width: 75px;
        height: 75px;
    }

    #skills .container .row .item .desc {
        font-size: .8rem;
    }

    #connect .container .row .item img {
        width: 75px;
        height: 75px;
    }

    #connect .container .row .item .desc {
        font-size: .8rem;
    }

    #about .container {
        flex-direction: column;
    }

    #about .text {
        width: 70%;
    }

    #about .logo {
        width: 200px;
    }
}

@media screen and (max-width: 430px) {
    #landing .title {
        letter-spacing: -3px;
        font-size: 3rem;
    }

    #landing .subtitle {
        font-size: .75rem;
    }

    #skills .container .row .item {
        width: 30%;
    }

    #skills .container .row .item img {
        width: 45px;
        height: 45px;
    }

    #skills .container .row .item .desc {
        font-size: .7rem;
    }

    #skills .title {
        font-size: 1.5rem;
    }

    #connect .container .row .item {
        width: 30%;
    }

    #connect .container .row .item img {
        width: 45px;
        height: 45px;
    }

    #connect .container .row .item .desc {
        font-size: .7rem;
    }

    #connect .title {
        font-size: 1.5rem;
    }

    #about .logo {
        width: 125px;
    }

    #about .title {
        font-size: 1.5rem;
    }

    #about .text {
        font-size: 0.75rem;
    }
}